[user]
	name = Nick Stevens
	email = nick@bitcurry.com
	signingkey = A30D0C434B4F28BDA94B1ACF0F5379F10F6CA6C1
[includeIf "gitdir:~/projects/"]
	path = .gitconfig-work
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	eol = lf
	autocrlf = input
	pager = ( command -v delta 2>&1 >/dev/null && delta || cat )
[pager]
	unpushed = false
[interactive]
	diffFilter = ( command -v delta 2>&1 >/dev/null && delta --color-only || cat )
[delta]
	side-by-side = false
	line-numbers = true
	decorations = true
	plus-style = syntax "#004000"
	plus-emph-style = syntax "#00A000"
[push]
	default = simple
[diff]
	colorMoved = default
	tool = vimdiff
	guitool = meld
	compactionHeuristic = true
	renames = copies
[merge]
	defaultToUpstream = true
[color "diff-highlight"]
	oldNormal = 9 bold
	oldHighlight = 9 bold 52
	newNormal = 10 bold
	newHighlight = 10 bold 22
[diff-so-fancy]
	markEmptyLines = false
[rebase]
	autosquash = true
[tag]
	gpgsign = true
[commit]
	gpgsign = true
	verbose = true
[alias]
	authors = !git log --format=\"%an <%ae>\" | sort | uniq -c | sort -nr
	co = checkout
	fap = fetch --all --prune
	graph = log --graph --decorate --all --oneline --format='%C(green bold)%h%Creset %C(yellow bold)[%ar]%Creset %C(red bold)%d%Creset %s %C(blue bold)<%an>%Creset'
	ls = lsbranch
	mf = merge --ff-only
	mfu = merge --ff-only upstream/master
	s = status
	wip = !git add -A && git commit -m \"WIP\"
	unpushed = log --branches --not --remotes=origin --no-walk --decorate --oneline
	unwip = reset HEAD^
[init]
	defaultBranch = main
[url "https://github.com"]
	insteadOf = git://github.com
