extends copyright-clike

snippet head "Function-header doc"
/*******************************************************************************
 * ${1:TODO: DOCS}
 ******************************************************************************/
endsnippet
