extends copyright-clike

snippet head "Function-header doc"
/*******************************************************************************
 * ${1:TODO: DOCS}
 ******************************************************************************/
endsnippet

snippet div "Function divider"
//==============================================================================
endsnippet
