<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="adobereader" />
    <package id="ditto" />
    <package id="filezilla" />
    <package id="firefox" />
    <package id="flashplayerplugin" />
    <package id="flux" />
    <package id="googlechrome" />
    <package id="launchy" />
    <package id="procexp" />
    <package id="putty.install" />
    <package id="ransack" />
    <package id="tomighty" />
    <package id="ultravnc" />
    <package id="vim" />
    <package id="windirstat" />
</packages>
